@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-900 dark:text-slate-50;

    /* Firefox Scrollbar */
    scrollbar-color: #cbd5e1 transparent;
    scrollbar-width: thin;
  }

  @media (prefers-color-scheme: dark) {
    body {
      scrollbar-color: #334155 transparent;
    }
  }

  /* WebKit Browsers (Chrome, Safari, Edge) */
  * {
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: #334155;
  }

  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components {
  .sidebar-group {
    @apply flex w-full flex-col gap-y-2;
  }

  .sidebar-group-title {
    @apply overflow-hidden text-ellipsis text-[10px] uppercase leading-none tracking-widest text-slate-600 dark:text-slate-400;
  }

  .sidebar-item {
    @apply flex h-[40px] w-full flex-shrink-0 items-center gap-x-1 rounded-lg p-3 text-base text-slate-950 transition-colors hover:bg-gray-200 hover:text-slate-950 dark:text-slate-50 dark:hover:bg-gray-800;

    &.active {
      @apply bg-gray-300 font-medium text-slate-950 dark:bg-gray-800 dark:text-slate-50;
    }
  }

  .title {
    @apply text-3xl font-semibold text-slate-900 transition-colors dark:text-slate-50;
  }

  .text-muted-foreground {
    @apply text-gray-400;
  }
}
